/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;800;900&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background-color: #3d3d49;
  color: #fff;
  font-family: 'Roboto', sans-serif; 
}

h1 {
  grid-column: span 3;
  font-size: 2.7rem;
  margin: 25px 0 30px; 
}

/* Projects Styles */
.container {
  display: grid;
  grid-template-columns: .8fr 3fr;
  padding: 30px;
  margin: auto;;
}

#projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.add-tasks,
.add-projects {
  width: 90%;
  padding: 15px 30px;
  font-size: 1.3rem;
  margin-bottom: 15px;
  background: #000;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

/* Project Card Styles */
.project-card {
  height: 500px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.btn-delete-project {
  background: #111;
  color: #fff;
  margin: 10px auto;
}

.btn-add-project-task,
.btn-delete,
.btn-edit {
  background: black;
  padding: 7px;
  margin-left: .2rem;;
  color: #fff;
}

.btn-complete {
  background-color: transparent;
  color: #1ec1c3;
  font-size: 1.2rem;
  margin-left: -2rem;
}

.btn-edit { 
  background-color: #000;
}

.btn-delete,
.btn-delete-project {
  background-color: #000;
}

.btn-add-project-task,
.btn-delete-project {
  padding: 10px;
  margin-left: 5px;
}

.btn-add-task,
.btn-edit-task,
.btn-add-project {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 10000000px;
  background-color: #000;
  color: #fff;
}

.btn-exit {
  background-color: #222;
  padding: 8px;
  border-radius: 99%;
  font-size: 10px;
  border: 1px solid white;
}

.btn-exit:hover {
  cursor: pointer;
  background-color: #111;
}

.project-card small {
  font-size: 9px;
}

.project-card i {
  font-size: 10px;
}

.project-card h3 {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card h3 i {
  font-size: 13px;
}

.project-card ul li {
  display: grid;
  grid-template-columns: 1fr 58px;
  padding: 8px;
  border-top: 1px solid #888;
  list-style-type:circle; 
  font-size: 14px;
  justify-content: space-between;
}

.project-card ul li small {
  display: block;
}

del {
  text-decoration: line-through;
  text-decoration-color: #000;
  text-decoration-thickness: 3px;
}

/* Form Styles */
.project-card,
#project-input-form,
#task-input-form {
  background-color: #212127;
  padding: 20px 5px 20px 30px;
  margin: 15px;
  border-radius: 10px;;
}

#project-input-form,
#task-input-form {
  padding: 40px;
}

h3 {
  color: #3068df;
  font-size: 1.8rem;
  margin: auto;
  text-align: center;
  padding: 0 0 20px;
}

label {
  color: #1ec1c3;
  font-size: 20px;
  margin: 10px 5px;
}

select,
input {
  display: block;
  font-size: 1.1rem;
  padding: 7px 10px;
  border-radius: 100000px;
  width: 100%;
  margin-top: 10px;
}


