* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Projects Styles */
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


